$black: #111111;
$white: #ffffff;
$gray: #e5e5e5;
$yellow: #ffe17d;

$blue: #178bff;
$bluehover: #2677c8;
$lightdark: #292929;

$darkline: #212121;

// button variable
$buttonsolid: $blue;
$buttonsolidhover: $bluehover;

//card variable
$cardbg: $gray;
